In [1]:
!pip install PyMySQL

import pymysql

db=pymysql.connect(host="database-1.czzraanhc7rb.eu-central-1.rds.amazonaws.com", 
                    user= "admin", 
                    passwd="demoday1",
                    db="birthdays")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: PyMySQL in c:\users\srimalrs\appdata\roaming\python\python38\site-packages (1.0.2)
WARNING: You are using pip version 20.1.1; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\program files\python38\python.exe -m pip install --upgrade pip' command.

In [ ]:
self.connection = pymysql.connect(host="database-1.czzraanhc7rb.eu-central-1.rds.amazonaws.com", 
                    user= "admin", 
                    passwd="demoday1",
                    db="birthdays")

In [4]:
cursor = db.cursor()

In [3]:
cursor.execute("""
create table birthday (
id int not null auto_increment,
name text,
birthday text,
primary key (id)
)
""")

OperationalError: (1050, "Table 'birthday' already exists")

In [3]:
cursor.execute("show tables")
cursor.fetchall()

(('birthday',),)

In [7]:
sql = "INSERT INTO birthday (name, birthday) VALUES (%s, %s)"
cursor.execute(sql, ('Robin', '02/07/1988'))

1

In [15]:

name = "Robin"
sql = "SELECT * FROM birthday WHERE name=%s"
cursor.execute(sql,name)
id_number, name, birthday = cursor.fetchone()
{"name":name, "birthday":birthday}

{'name': 'Robin', 'birthday': '02/07/1988'}

In [21]:
name = "Robin"
birthday = "03/07/1988" 
sql = "UPDATE birthday SET birthday=%s WHERE name=%s"
cursor.execute(sql,(birthday,name))

0

In [20]:
name = "Robin"
sql = "SELECT * FROM birthday WHERE name=%s"
cursor.execute(sql,name)
cursor.fetchone()

In [19]:
name = "Robin"
sql =  "DELETE FROM birthday WHERE name=%s"
cursor.execute(sql, name)

1

In [1]:
import os

In [ ]:
if "RDS_HOSTNAME" in os.environ:

            self.database = {
                "NAME": os.environ["RDS_DB_NAME"],
                "USER": os.environ["RDS_USERNAME"],
                "PASSWORD": os.environ["RDS_PASSWORD"],
                "HOST": os.environ["RDS_HOSTNAME"],
                "PORT": os.environ["RDS_PORT"]
            }


self.connection2 = pymysql.connect(host=self.database["HOST"], 
                    user= self.database["USER"], 
                    passwd=self.database["PASSWORD"],
                    db="NAME")